/**** COMPONENTS ****/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
  font-size: 16px;
  font-family: 'Mulish', sans-serif;
  color: #FFFFFF;
}

#bg-container {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.content-container {
  max-width: 1100px;
  margin: auto;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

.rgba-container {
  background: rgba(0, 0, 0, 0.3);
  padding: 10px;
}

/**** NAVIGATION ****/
nav {
  width: 100%;
  text-transform: uppercase;
}

nav section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav section div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

nav section div h1 {
  font-family: 'Playfair Display', serif;
  letter-spacing: 3px;
  margin-left: 15px;
  font-size: 2rem;
  text-transform: none;
}

nav section form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

nav section form input {
  background: transparent;
  border: 1px white solid;
  outline: none;
  height: 25px;
  margin-top: 3px;
  padding: 5px;
}

nav section form input::-webkit-input-placeholder {
  color: white;
}

nav section form input:-ms-input-placeholder {
  color: white;
}

nav section form input::-ms-input-placeholder {
  color: white;
}

nav section form input::placeholder {
  color: white;
}

nav section:first-of-type {
  border-bottom: 2px solid #FFFFFF;
  margin-bottom: 10px;
}

.nav-item {
  display: inline;
  padding: 0 10px;
  font-weight: bold;
  border-right: solid 1px #FFFFFF;
  font-size: 0.8rem;
}

nav li a {
  color: #FFFFFF;
}

li a {
  text-decoration: none;
  color: #696969;
}

li a:hover {
  color: #FFA500;
  -webkit-transition: color 300ms;
  transition: color 300ms;
}

/**** DROP-DOWN MENU ****/
.dropdown-menu {
  position: relative;
}

.dropdown-content {
  white-space: nowrap;
  background: rgba(0, 0, 0, 0.1);
  position: absolute;
  left: 0;
  margin-top: 10px;
  padding: 10px 10px;
  line-height: 30px;
  border-top: 2px solid #FFFFFF;
}

.dropdown-content:hover {
  display: block;
}

.dropdown-content ul {
  list-style: none;
}

.dropdown-content ul:first-child {
  padding-top: 20px;
}

/**** POP-UP SUBSCRIBE FORM ****/
.form-popup {
  display: none;
  position: absolute;
  top: 15%;
  min-width: 600px;
  background-color: #FEFFEF;
  padding: 20px 20px 40px 20px;
  border-radius: 5px;
  border: 2px solid black;
}

.form-popup form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-popup form label {
  margin-top: 10px;
  margin-bottom: 5px;
}

.form-popup form input, .form-popup form textarea {
  min-height: 40px;
  font-size: 1.2rem;
}

.form-popup h2 {
  margin-bottom: 20px;
  letter-spacing: 2px;
}

.form-popup button {
  position: absolute;
  top: 20px;
  right: 20px;
  display: inline-block;
  width: 25px;
  background: transparent;
  border: none;
  outline: transparent;
}

.form-popup button img {
  width: 25px;
  height: 25px;
}

/**** FEATURED RETREATS HEADER ****/
main #retreats article:first-of-type {
  height: 240px;
  color: #696969;
}

main article:first-of-type > div:first-of-type {
  padding: 20px;
  border-bottom: solid #c0c0c0 1px;
  text-transform: uppercase;
  font-size: 0.7rem;
}

main article:first-of-type > div:first-of-type > .content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main article:first-of-type > div:first-of-type ul li {
  padding: 10px;
  list-style: none;
  display: inline;
}

.content-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 185px;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 2px;
  color: #696969;
}

/**** FEATURED RETREATS SECTION ****/
main #retreats article:nth-of-type(2) {
  background: url(/pictures/philippines.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

main #retreats article:nth-of-type(3) {
  background: url(/pictures/croatia.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

main #retreats article:nth-of-type(4) {
  background: url(/pictures/nature4.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.retreat-box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.retreat-box {
  width: 600px;
  margin: auto;
  text-align: center;
  text-transform: uppercase;
  line-height: 60px;
  font-size: 1.5rem;
}

.retreat-box h3 {
  font-size: 3.5rem;
}

/**** GRID JOURNAL SECTION ****/
main .grid-journal {
  margin-bottom: 240px;
}

main .grid-journal div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 48% 48%;
      grid-template-columns: 48% 48%;
  -ms-grid-rows: 33.33% 33.33% 33.33%;
      grid-template-rows: 33.33% 33.33% 33.33%;
  -webkit-column-gap: 4%;
          column-gap: 4%;
  row-gap: 40px;
  height: 1200px;
}

main .grid-journal div article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-transform: uppercase;
  padding: 20px;
}

main .grid-journal div article h3 {
  font-size: 1.3rem;
  letter-spacing: 3px;
  margin-bottom: 10px;
}

main .grid-journal div article p {
  font-size: 2.6rem;
  text-align: center;
  font-family: 'Noto Sans TC', sans-serif;
}

/**** SUBSCRIBE FORM SECTION ****/
.subscribe-form {
  background: url(/pictures/beach.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 60px;
}

.form-container {
  margin-top: 60px;
  max-width: 360px;
  float: right;
}

.form-container h3 {
  text-transform: uppercase;
  margin-bottom: 25px;
  font-family: 'Roboto', sans-serif;
  font-size: 2.7rem;
  letter-spacing: 2px;
}

.form-container p {
  font-size: 1.4rem;
}

.form-container form {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-container form input {
  background-color: rgba(0, 0, 0, 0.1);
  outline: none;
  border: solid 3px #FFFFFF;
  color: #FFFFFF;
  margin-top: 25px;
  height: 50px;
  font-size: 1.3rem;
  padding: 0 10px;
  -webkit-transition: 400ms;
  transition: 400ms;
}

.form-container form input::-webkit-input-placeholder {
  color: #FFFFFF;
}

.form-container form input:-ms-input-placeholder {
  color: #FFFFFF;
}

.form-container form input::-ms-input-placeholder {
  color: #FFFFFF;
}

.form-container form input::placeholder {
  color: #FFFFFF;
}

.form-container form input:last-of-type:hover {
  cursor: pointer;
  background-color: #FFFFFF;
  color: #696969;
}

/**** FOOTER ****/
footer {
  background-color: #424242;
  height: 240px;
}

footer section:nth-of-type(1) {
  border-bottom: 1px solid #595958;
  height: 60px;
}

footer section:nth-of-type(2) {
  border-bottom: 1px solid #595958;
  height: 120px;
}

footer section:nth-of-type(3) {
  border-bottom: 1px solid #595958;
  height: 60px;
}

footer li a {
  color: #FFFFFF;
}

.follow-area div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.follow-area .content-container div:first-of-type {
  border-left: 1px solid #595958;
  padding-left: 20px;
}

.follow-area .content-container div:first-of-type label {
  color: grey;
}

.follow-area .content-container div:first-of-type input {
  background-color: transparent;
  outline: none;
  border: 1px #FFFFFF solid;
  height: 25px;
  padding-left: 10px;
  margin-left: 20px;
}

.follow-area .content-container div:first-of-type input::-webkit-input-placeholder {
  color: #FFFFFF;
}

.follow-area .content-container div:first-of-type input:-ms-input-placeholder {
  color: #FFFFFF;
}

.follow-area .content-container div:first-of-type input::-ms-input-placeholder {
  color: #FFFFFF;
}

.follow-area .content-container div:first-of-type input::placeholder {
  color: #FFFFFF;
}

.follow-area .content-container div:last-of-type {
  padding-left: 20px;
  border-left: 1px solid #595958;
}

.link-area div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 60px;
  height: 100%;
}

.link-area div ul {
  list-style: none;
  text-transform: uppercase;
  font-size: 0.9rem;
  line-height: 25px;
  font-family: 'Noto Sans TC', sans-serif;
}

.link-area div ul li:first-child {
  font-family: 'Mulish', sans-serif;
  color: grey;
}

footer .info-section div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.7rem;
  border-left: 1px solid #595958;
  height: 100%;
}

footer .info-section div span {
  padding-left: 20px;
  color: grey;
  margin-right: 20px;
}

footer .info-section div ul {
  list-style: none;
}

footer .info-section div ul li {
  display: inline;
  margin-left: 10px;
}
/*# sourceMappingURL=styles.css.map */